Repository WFCD/genesis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml},!package*.json':
  - prettier --write

Notes added by 'git notes add'
  16731c7af36a48b41bdd630288ca26f59c3ea17f
Due: none

New translations en.json (Ukrainian)
  src/resources/locales/uk.json
Due: none

fix: new crowdin updates (#912)
  src/resources/locales/uk.json
Due: none

ci(release): 2.11.13 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  bd7f423277e145cd026af63b4b554190eed824a3
Due: none

ci(release): 2.11.14 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  a43f3eb203071a9906b3a6f031d54a020174508c
Due: none

ci(release): 2.11.15 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  e69be1a6b47da3fd2fc42c232bac15609acbf1d0
Due: none

fix: syntax for name-generator
  src/eventHandlers/DynamicVoiceHandler.js
Due: eslint --cache --fix, npm test

ci(release): 2.11.16 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  ac669e8c8746760bcd9898cd3ef5c586ae30bf95
Due: none

fix: update name-generator
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

ci(release): 2.11.17 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  3508534da05850acce239c51bbd37fbd7ba7c7e1
Due: none

chore: properly check for mangaed webhook permission
  src/interactions/tracking/Tracking.js
Due: eslint --cache --fix, npm test

chore: some strays caught by code rabbit
  src/eventHandlers/AddGuildToDatabase.js
  src/eventHandlers/BulkMessageDeleteHandle.js
  src/eventHandlers/DeleteChannel.js
  src/eventHandlers/LogMemberBan.js
  src/eventHandlers/LogMemberRemove.js
  src/eventHandlers/LogMemberUnban.js
  src/eventHandlers/MessageDeleteHandle.js
  src/eventHandlers/NotifyOwnerJoin.js
  src/eventHandlers/UpdateGuildStatistics.js
  src/interactions/channels/Rooms.js
  src/interactions/channels/Templates.js
  src/interactions/tracking/Tracking.js
  src/utilities/Webhook.js
Due: eslint --cache --fix, npm test

chore: `ephemeral` deprecated warning for tracker
  src/bot.js
  src/eventHandlers/InteractionHandler.js
  src/interactions/channels/Rooms.js
  src/interactions/channels/Templates.js
  src/interactions/core/Ping.js
  src/interactions/core/Settings.js
  src/interactions/core/su.js
  src/interactions/custom/CustomCommands.js
  src/interactions/fun/Hug.js
  src/interactions/fun/Joke.js
  src/interactions/tracking/Tracking.js
  src/interactions/warframe/Builds.js
  src/interactions/warframe/Calculator.js
  src/interactions/warframe/LFG.js
  src/interactions/warframe/Lookup.js
  src/interactions/warframe/PriceCheck.js
  src/interactions/warframe/WhatsIn.js
  src/interactions/warframe/WhereIs.js
  src/utilities/Webhook.js
Due: eslint --cache --fix, npm test

fix: `PermissionsBitField` and `ApplicationCommandOptionType` in settings
  src/interactions/core/Settings.js
Due: eslint --cache --fix, npm test

chore: fix permission and application types
  src/interactions/core/su.js
Due: eslint --cache --fix, npm test

fix: webhook creation
  src/interactions/tracking/Tracking.js
  src/utilities/Webhook.js
Due: eslint --cache --fix, npm test

chore: don't set fields directly
  src/utilities/CommonFunctions.js
Due: eslint --cache --fix, npm test

fix: settings commands not working because of new types
  src/interactions/core/Settings.js
  src/utilities/CommonFunctions.js
Due: eslint --cache --fix, npm test

chore: forgot one
  src/interactions/channels/Templates.js
Due: eslint --cache --fix, npm test

chore: redo lock file to make sure deps are right
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

chore: couple of fixes
  src/embeds/EnhancementEmbed.js
  src/embeds/EventEmbed.js
  src/embeds/LogEmbed.js
  src/embeds/NewsEmbed.js
  src/embeds/RSSEmbed.js
  src/embeds/RaidEmbed.js
  src/embeds/RivenStatEmbed.js
  src/embeds/SettingsEmbed.js
  src/embeds/SolarisEmbed.js
  src/embeds/SyndicateEmbed.js
Due: eslint --cache --fix, npm test

ci: initial stuff, name-generator
  src/eventHandlers/DynamicVoiceHandler.js
Due: eslint --cache --fix, npm test

fix: update messaging on rooms create
  src/interactions/channels/Rooms.js
Due: eslint --cache --fix, npm test

ci(release): 2.11.18 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  32ccef8b5dd3b3f2465c34cda726e18777993ead
Due: none

feat(lfg): allow Duviri & Sanctum Anatomica
  src/interactions/warframe/LFG.js
Due: eslint --cache --fix, npm test

fix: styles
  src/interactions/warframe/LFG.js
Due: eslint --cache --fix, npm test

ci(release): 2.12.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  efa3509b868dd5e1bc74fe17386b92c77d5ebaac
Due: none

fix(#937): random reddit post update
  package-lock.json
  package.json
  src/interactions/fun/Reddit.js
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

ci(release): 2.12.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  a6da32a720991308370c5b6ceb86d5559b49ddb4
Due: none
