Repository WFCD/genesis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

ci(release): 2.13.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  34495ee507a77a23134bdb839b97534f2f3ca6d5
Due: none

fix: just worldsState Upgrades
  global.d.ts
  package-lock.json
  package.json
  src/embeds/AlertEmbed.js
  src/embeds/DarvoEmbed.js
  src/embeds/InvasionEmbed.js
  src/embeds/NewsEmbed.js
  src/embeds/SalesEmbed.js
  src/embeds/SolarisEmbed.js
  src/embeds/SortieEmbed.js
  src/embeds/SyndicateEmbed.js
  src/embeds/VoidTraderEmbed.js
  src/notifications/worldstate/Notifier.js
  src/resources/index.js
  src/settings/Database.js
  src/settings/DatabaseQueries/PermissionsQueries.js
  src/utilities/CommonFunctions.js
  src/utilities/Logger.js
  src/utilities/WorldState.js
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

fix: swap remaining .active
  src/embeds/CambionEmbed.js
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

fix: invasions, more eta stuff
  src/embeds/InvasionEmbed.js
  src/notifications/worldstate/Notifier.js
  src/settings/DatabaseQueries/PermissionsQueries.js
  src/utilities/WorldState.js
Due: eslint --cache --fix, npm test

fix: swap in endTime startTime
  src/embeds/ConclaveChallengeEmbed.js
  src/embeds/VoidTraderEmbed.js
  src/utilities/WorldState.js
Due: eslint --cache --fix, npm test

fix: invasion eta
  src/embeds/InvasionEmbed.js
  src/embeds/VoidTraderEmbed.js
  src/utilities/WorldState.js
Due: eslint --cache --fix, npm test

fix: arbitration check
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

fix: handle undefined weeklyChallenges
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

fix: arbi type/nodekey
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

fix: debug statements
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

fix: expired stuff
  src/notifications/worldstate/Notifier.js
  src/utilities/WorldState.js
Due: eslint --cache --fix, npm test

fix: debugging
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

fix: worldstate updates (#1007)
  global.d.ts
  package-lock.json
  package.json
  src/embeds/AlertEmbed.js
  src/embeds/CambionEmbed.js
  src/embeds/ConclaveChallengeEmbed.js
  src/embeds/DarvoEmbed.js
  src/embeds/InvasionEmbed.js
  src/embeds/NewsEmbed.js
  src/embeds/SalesEmbed.js
  src/embeds/SolarisEmbed.js
  src/embeds/SortieEmbed.js
  src/embeds/SyndicateEmbed.js
  src/embeds/VoidTraderEmbed.js
  src/notifications/worldstate/Notifier.js
  src/resources/index.js
  src/settings/Database.js
  src/settings/DatabaseQueries/PermissionsQueries.js
  src/utilities/CommonFunctions.js
  src/utilities/Logger.js
  src/utilities/WorldState.js
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

ci(release): 2.13.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  48cb0db1cee31a28c6b627b405ef9b10a85123ef
Due: none

fix(fissues): missionTypeKey
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

ci(release): 2.13.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  d2fddcac4d6b97d4a60a9a598a32f2679cb881ca
Due: none

fix(about): more info
  src/interactions/core/About.js
Due: eslint --cache --fix, npm test

ci(release): 2.13.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  008ec3a8dfbfc94b1b65bed1c973a10d5cdac148
Due: none

fix(notifier): extra info logs
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

ci(release): 2.13.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  f2b0df9ad3ed60aae0512c4663862c9275c8692b
Due: none

fix(copy): on storms, archwing -> railjack
  src/resources/locales/cs.json
  src/resources/locales/de.json
  src/resources/locales/en.json
  src/resources/locales/es.json
  src/resources/locales/fr.json
  src/resources/locales/it.json
  src/resources/locales/ko.json
  src/resources/locales/pl.json
  src/resources/locales/pt.json
  src/resources/locales/sr.json
  src/resources/locales/tr.json
  src/resources/locales/zh.json
Due: none

New translations en.json (French)
  src/resources/locales/fr.json
Due: none

New translations en.json (Czech)
  src/resources/locales/cs.json
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml},!package*.json)
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
