Repository WFCD/genesis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

'*.js':
  - eslint --cache --fix
  - npm test
package*.json:
  - prettier --write
  - npm dedupe
  - npx sort-package-json
'*.{json,yml,yaml},!package*.json':
  - prettier --write

fix: expose secrets
  .github/workflows/release.yaml
Due: none

fix: login to docker before release
  .github/workflows/release.yaml
Due: none

fix: pathing in dockerfile
  bot.Dockerfile
  notifier.Dockerfile
Due: none

ci(release): 2.13.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  dadae7b77767330d41ca4060a3c8c13ed22501e8
Due: none

fix: label dockerfiles
  bot.Dockerfile
  notifier.Dockerfile
Due: none

ci(release): 2.13.13 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  bb874ba57d53873a57a7762cab683d1d8330cd00
Due: none

ci(release): 2.13.14 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  af16fa3f4921d428d0d4b3ac23e0c102faf8364e
Due: none

ci(release): 2.13.15 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  6688428477f81e220357adfb6e8a44dde1ad2a88
Due: none

ci(release): 2.13.16 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  3d5d4d8e202f67a62d0eae0d34f3e3612a111221
Due: none

fix: aggressively fall back to default presence message
  package-lock.json
  src/eventHandlers/Ready.js
  src/utilities/WorldStateClient.js
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

ci(release): 2.13.17 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  cb8fa86586c75c359b7f9c185b882b41232b6986
Due: none

ci(release): 2.13.18 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  cd0065789ec161c948cb06fcc0551dc1ee45a7aa
Due: none

ci(release): 2.13.19 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  0bec1350f61f389dd19bfe3518ca761a2a9312d3
Due: none

ci(release): 2.13.20 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  9237b9c8715c22417f3ab516cc5f05f8413f9771
Due: none

ci(release): 2.13.21 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  178a8a2ebae68803fa158cfc2021289aad8e0ed9
Due: none

ci(release): 2.13.22 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  646a08aabf20fecbd3af9b5f27b798511c082f3d
Due: none

ci(release): 2.13.23 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  2f0cf6336077108519b8d2a176031b7999530839
Due: none

ci(release): 2.13.24 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  61c4a3de69619cd112eb8cc9d48e7e79ee881b70
Due: none

ci(release): 2.13.25 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  4ce03c87272e5e86c5da1aa27c5ca8ef76006f35
Due: none

ci(release): 2.13.26 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  e60a35eb28ccf25be620675834887950633f5462
Due: none

ci(release): 2.13.27 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  f5e101cc412dd42e318d5e92542d0f86116bb93d
Due: none

ci: update release to run all distinct verifications
  .github/workflows/release.yaml
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json
