Repository WFCD/genesis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

fix: webhook creation
  src/interactions/tracking/Tracking.js
  src/utilities/Webhook.js
Due: eslint --cache --fix, npm test

chore: fix permission and application types
  src/interactions/core/su.js
Due: eslint --cache --fix, npm test

chore: some strays caught by code rabbit
  src/eventHandlers/AddGuildToDatabase.js
  src/eventHandlers/BulkMessageDeleteHandle.js
  src/eventHandlers/DeleteChannel.js
  src/eventHandlers/LogMemberBan.js
  src/eventHandlers/LogMemberRemove.js
  src/eventHandlers/LogMemberUnban.js
  src/eventHandlers/MessageDeleteHandle.js
  src/eventHandlers/NotifyOwnerJoin.js
  src/eventHandlers/UpdateGuildStatistics.js
  src/interactions/channels/Rooms.js
  src/interactions/channels/Templates.js
  src/interactions/tracking/Tracking.js
  src/utilities/Webhook.js
Due: eslint --cache --fix, npm test

chore: properly check for mangaed webhook permission
  src/interactions/tracking/Tracking.js
Due: eslint --cache --fix, npm test

chore: `ephemeral` deprecated warning for tracker
  src/bot.js
  src/eventHandlers/InteractionHandler.js
  src/interactions/channels/Rooms.js
  src/interactions/channels/Templates.js
  src/interactions/core/Ping.js
  src/interactions/core/Settings.js
  src/interactions/core/su.js
  src/interactions/custom/CustomCommands.js
  src/interactions/fun/Hug.js
  src/interactions/fun/Joke.js
  src/interactions/tracking/Tracking.js
  src/interactions/warframe/Builds.js
  src/interactions/warframe/Calculator.js
  src/interactions/warframe/LFG.js
  src/interactions/warframe/Lookup.js
  src/interactions/warframe/PriceCheck.js
  src/interactions/warframe/WhatsIn.js
  src/interactions/warframe/WhereIs.js
  src/utilities/Webhook.js
Due: eslint --cache --fix, npm test

fix: `PermissionsBitField` and `ApplicationCommandOptionType` in settings
  src/interactions/core/Settings.js
Due: eslint --cache --fix, npm test

chore: forgot one
  src/interactions/channels/Templates.js
Due: eslint --cache --fix, npm test

fix: settings commands not working because of new types
  src/interactions/core/Settings.js
  src/utilities/CommonFunctions.js
Due: eslint --cache --fix, npm test

chore: don't set fields directly
  src/utilities/CommonFunctions.js
Due: eslint --cache --fix, npm test

chore: redo lock file to make sure deps are right
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

ci: initial stuff, name-generator
  src/eventHandlers/DynamicVoiceHandler.js
Due: eslint --cache --fix, npm test

chore: couple of fixes
  src/embeds/EnhancementEmbed.js
  src/embeds/EventEmbed.js
  src/embeds/LogEmbed.js
  src/embeds/NewsEmbed.js
  src/embeds/RSSEmbed.js
  src/embeds/RaidEmbed.js
  src/embeds/RivenStatEmbed.js
  src/embeds/SettingsEmbed.js
  src/embeds/SolarisEmbed.js
  src/embeds/SyndicateEmbed.js
Due: eslint --cache --fix, npm test

chore: lock file
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

Update CompanionEmbed.js
  src/embeds/CompanionEmbed.js
Due: eslint --cache --fix, npm test

fix: update common functions
  src/utilities/CommonFunctions.js
Due: eslint --cache --fix, npm test

fix: update wiki links (#956)
  src/embeds/CompanionEmbed.js
  src/utilities/CommonFunctions.js
Due: eslint --cache --fix, npm test

ci(release): 2.12.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  7e29c17328a386a42c7f1215b8bf6e588606329f
Due: none

feat: support channel on settings get
  src/interactions/core/Settings.js
  src/resources/locales/commands/cs.js
  src/resources/locales/commands/de.js
  src/resources/locales/commands/en.js
  src/resources/locales/commands/es.js
  src/resources/locales/commands/fr.js
  src/resources/locales/commands/it.js
  src/resources/locales/commands/ko.js
  src/resources/locales/commands/pl.js
  src/resources/locales/commands/pt.js
  src/resources/locales/commands/ru.js
  src/resources/locales/commands/sr.js
  src/resources/locales/commands/tr.js
  src/resources/locales/commands/uk.js
  src/resources/locales/commands/zh.js
Due: eslint --cache --fix, npm test

feat: support channel on settings get (#973)
  src/interactions/core/Settings.js
  src/resources/locales/commands/cs.js
  src/resources/locales/commands/de.js
  src/resources/locales/commands/en.js
  src/resources/locales/commands/es.js
  src/resources/locales/commands/fr.js
  src/resources/locales/commands/it.js
  src/resources/locales/commands/ko.js
  src/resources/locales/commands/pl.js
  src/resources/locales/commands/pt.js
  src/resources/locales/commands/ru.js
  src/resources/locales/commands/sr.js
  src/resources/locales/commands/tr.js
  src/resources/locales/commands/uk.js
  src/resources/locales/commands/zh.js
Due: eslint --cache --fix, npm test

ci(release): 2.13.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  167d20aec1ddf6eca6ce0e2a4bd72b9ba58bbf0f
Due: none

fix(ci): deploy via ts
  .github/workflows/release.yaml
Due: none

ci(release): 2.13.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  4da164bb0e586dcf37b55b708eaeee2c4f737b38
Due: none

New translations en.js (French)
  src/resources/locales/commands/fr.js
Due: eslint --cache --fix, npm test

New translations en.js (Czech)
  src/resources/locales/commands/cs.js
Due: eslint --cache --fix, npm test

New translations en.js (German)
  src/resources/locales/commands/de.js
Due: eslint --cache --fix, npm test

New translations en.js (Italian)
  src/resources/locales/commands/it.js
Due: eslint --cache --fix, npm test

New translations en.js (Korean)
  src/resources/locales/commands/ko.js
Due: eslint --cache --fix, npm test

New translations en.js (Polish)
  src/resources/locales/commands/pl.js
Due: eslint --cache --fix, npm test

New translations en.js (Russian)
  src/resources/locales/commands/ru.js
Due: eslint --cache --fix, npm test

New translations en.js (Turkish)
  src/resources/locales/commands/tr.js
Due: eslint --cache --fix, npm test

New translations en.js (Ukrainian)
  src/resources/locales/commands/uk.js
Due: eslint --cache --fix, npm test

New translations en.js (Chinese Simplified)
  src/resources/locales/commands/zh.js
Due: eslint --cache --fix, npm test

New translations en.js (Portuguese, Brazilian)
  src/resources/locales/commands/pt.js
Due: eslint --cache --fix, npm test

New translations en.js (Serbian (Latin))
  src/resources/locales/commands/sr.js
Due: eslint --cache --fix, npm test

New translations en.js (Spanish (Modern))
  src/resources/locales/commands/es.js
Due: eslint --cache --fix, npm test

fix: crowdin updates (#974)
  src/resources/locales/commands/cs.js
  src/resources/locales/commands/es.js
  src/resources/locales/commands/fr.js
  src/resources/locales/commands/it.js
  src/resources/locales/commands/ko.js
  src/resources/locales/commands/pl.js
  src/resources/locales/commands/pt.js
  src/resources/locales/commands/ru.js
Due: eslint --cache --fix, npm test

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml},!package*.json)
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
