Repository WFCD/genesis: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

fix: add verifications for bad translation mismatches (#795)
  .babelrc
  .env
  .eslintignore
  .eslintrc.yml
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.yml
  .mocharc.yml
  .releaserc.yml
  commitlint.config.js
  package-lock.json
  package.json
  spec/.eslintrc.yml
  spec/translations.spec.js
  src/eventHandlers/InteractionHandler.js
  src/interactions/channels/Rooms.js
  src/resources/index.js
  src/resources/locales/commands/es.js
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

ci: update node to 18
  .nvmrc
Due: none

ci: node 20, semantic-release latest
  .github/workflows/release.yaml
  .nvmrc
Due: none

ci: skip semantic-release changelog in message
  .releaserc.yml
Due: none

ci(release): 2.11.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  b058faca8134e7490596bb4f6f85f3b820da431c
Due: none

New translations en.json (Chinese Simplified)
  src/resources/locales/zh.json
Due: none

fix(l10n): new crowdin updates (#807)
  src/resources/locales/zh.json
Due: none

ci(release): 2.11.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  19956e09eb60e3f59b70cdd6318d9cebbf797abf
Due: none

fix(invasions): update data accessor
  global.d.ts
  src/embeds/AcolyteEmbed.js
  src/embeds/AlertEmbed.js
  src/embeds/ArbitrationEmbed.js
  src/embeds/CambionEmbed.js
  src/embeds/EventEmbed.js
  src/embeds/InvasionEmbed.js
Due: eslint --cache --fix, npm test

fix: clean up types, more invasion references
  global.d.ts
  src/embeds/BaseEmbed.js
  src/embeds/BuildEmbed.js
  src/embeds/CompanionEmbed.js
  src/embeds/ErrorEmbed.js
  src/notifications/worldstate/Notifier.js
  src/utilities/CommonFunctions.js
Due: eslint --cache --fix, npm test

fix(invasions): update data accessor (#820)
  global.d.ts
  src/embeds/AcolyteEmbed.js
  src/embeds/AlertEmbed.js
  src/embeds/ArbitrationEmbed.js
  src/embeds/BaseEmbed.js
  src/embeds/BuildEmbed.js
  src/embeds/CambionEmbed.js
  src/embeds/CompanionEmbed.js
  src/embeds/ErrorEmbed.js
  src/embeds/EventEmbed.js
  src/embeds/InvasionEmbed.js
  src/notifications/worldstate/Notifier.js
  src/utilities/CommonFunctions.js
Due: eslint --cache --fix, npm test

ci(release): 2.11.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  195bfd172b2449285f08d49d413f03a9433b9767
Due: none

fix(#674,#760): unpingable exterminations, omnia fissures
  src/resources/pingables.json
  src/resources/trackables.json
Due: none

fix(#709): closes #709, properly defer interaction
  package-lock.json
  package.json
  src/interactions/core/Settings.js
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

fix: remove elevated roles
  src/interactions/core/Settings.js
Due: eslint --cache --fix, npm test

fix: trackbility, pingability, elevated_roles, omnia fissures (#833)
  package-lock.json
  package.json
  src/interactions/core/Settings.js
  src/resources/pingables.json
  src/resources/trackables.json
Due: eslint --cache --fix, npm test, prettier --write, npm dedupe, npx sort-package-json

ci(release): 2.11.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  e02dc4cd632d88c7a1c5422d94a17e49532499d2
Due: none

New translations en.js (Spanish (Modern))
  src/resources/locales/commands/es.js
Due: eslint --cache --fix, npm test

fix: new crowdin updates (#847)
  src/resources/locales/commands/es.js
Due: eslint --cache --fix, npm test

ci(release): 2.11.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  e2c9fec478d1318632f52d061ff07b1768d9e962
Due: none

fix: screw baro
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

fix: screw baro numba 2
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

ci(release): 2.11.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  acf360fe620bd77dee3b4d442b43a502b5f5e4d2
Due: none

fix(baro): game flag for baro for easy setting
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

fix(baro): game flag for baro for easy setting (#873)
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

ci(release): 2.11.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  667474a996d7694e357c24b47ac90f1df66e8ee1
Due: none

ci(release): 2.11.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  9d4e21fa5f9c6eeb83796c5da404901dca87f14c
Due: none

fix(baro): broadcast when embed is small enough
  src/notifications/worldstate/Notifier.js
Due: eslint --cache --fix, npm test

ci(release): 2.11.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Path conditions:
  eslint --cache --fix: any of: *.js
  npm test: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml},!package*.json)
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
